spring:
  application:
    name: leave
  datasource:
    url: jdbc:postgresql://localhost:5432/leave_portal
    username: postgres
    password: Satyam@2005
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
    baseline-on-migrate: true
